@theme {
  --color-*: initial;

  --color-primary: #0a30bc;
  --color-primary-50: "#e8f5ff";
  --color-primary-100: "#d6ecff";
  --color-primary-200: "#b5dbff";
  --color-primary-300: "#89c1ff";
  --color-primary-400: "#5a9aff";
  --color-primary-500: "#3571ff";
  --color-primary-600: "#1244ff";
  --color-primary-700: "#0939f9";
  --color-primary-800: "#0a30bc";
  --color-primary-900: "#13349c";
  --color-primary-950: "#0b1c5b";

  --color-secondary: #3a506b;
  --color-secondary-50: "#f5f7fa";
  --color-secondary-100: "#eaeef4";
  --color-secondary-200: "#d1dbe6";
  --color-secondary-300: "#a9bbd0";
  --color-secondary-400: "#7a97b6";
  --color-secondary-500: "#5a7b9d";
  --color-secondary-600: "#466283";
  --color-secondary-700: "#3a506b";
  --color-secondary-800: "#334559";
  --color-secondary-900: "#2e3b4c";
  --color-secondary-950: "#1e2733";

  --color-accent: #f8f9fa;
  --color-accent-50: "#f8f9fa";
  --color-accent-100: "#eceff2";
  --color-accent-200: "#d6dce1";
  --color-accent-300: "#b2bec7";
  --color-accent-400: "#889ba8";
  --color-accent-500: "#697e8e";
  --color-accent-600: "#546775";
  --color-accent-700: "#45535f";
  --color-accent-800: "#3c4750";
  --color-accent-900: "#353d45";
  --color-accent-950: "#23292e";

  --color-support: #f8f5ed;
  --color-support-50: "#f8f5ed";
  --color-support-100: "#f3eee1";
  --color-support-200: "#e6dbc2";
  --color-support-300: "#d7c39a";
  --color-support-400: "#c6a671";
  --color-support-500: "#b98f56";
  --color-support-600: "#ac7d4a";
  --color-support-700: "#8f643f";
  --color-support-800: "#745138";
  --color-support-900: "#5e4430";
  --color-support-950: "#322218";
}
